@import "libs";
@import "helpers/variables";
@import "helpers/mixins";
@import "general/fonts";
@import "general/base";
@import "../blocks/blocks";

.cta {
  margin-top: 45px;

  button {
    width: 310px;
    height: 62px;
    border-radius: 5px;
    background-color: #3dbe56;
  }
}

.header {
  padding: 200px 0 30px;

  .container {
    position: relative;
  }

  .illustration {

    .rouble {
      position: absolute;
      top: -170px;
      right: 70px;

      svg {
        height: 210px;
      }
    }

    .film {
      width: 536px;
      height: 640px;
      position: absolute;
      top: -241px;
      right: -140px;
    }

    .circle {
      width: 651px;
      height: 651px;
      border-radius: 50%;
      background-image: linear-gradient(0deg, #3dbd55 0%, #e3f5e7 100%);
      position: absolute;
      top: -480px;
      right: -75px;
      z-index: -1;
    }
  }

  h1 {
    letter-spacing: -0.7px;

    span {
      color: #3dbe56;
    }
  }

  p {
    color: #525252;

    span {
      display: block;
    }
  }

  h6 {
    font-size: 17px;
    font-weight: bold;
    color: #061825;
  }

  .title {
  }

  .hello {
    margin-top: 25px;
  }

  .how-work {
    margin-top: 45px;
    position: relative;

    &:before {
      content: '';
      width: 140px;
      height: 2px;
      background-color: #3dbe56;
      position: absolute;
      top: -20px;
      left: 0;
    }

    p {
      letter-spacing: -0.7px;
    }
  }

  .cta {
  }

  .bottom {
    margin-top: 100px;
    padding: 15px 35px;
    border-radius: 5px;
    background-color: #e6eefd;
    text-align: center;

    p {
      font-size: 14px;
      color: #061825;
    }
  }

  .more {
    margin: 35px 0 0;
    text-align: center;
  }
}

.second {
  background: url('../img/second-bg.png') no-repeat center top / auto 100%;
  padding: 80px 0;

  .title {
    text-align: center;
  }

  ul {
    margin-top: 35px;
    padding: 40px 60px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    li {
      text-align: center;
      width: 40%;

      div {
        width: 38px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 19px;
        background-color: #d4e0f0;
        font-size: 26px;
        font-weight: bold;
        margin: 0 auto;
      }

      p {
        color: #535353;

        span {
          font-weight: bold;
          color: #061825;
        }

        a {
          color: #535353;
        }
      }

      &:nth-child(1) {

        p {

          span {
            color: #43a856;
          }
        }
      }

      &:nth-child(3) {
        margin-top: 60px;
        width: 60%;
      }
    }
  }
}

.third {
  padding: 75px 0 90px;

  .title {
    text-align: center;
  }

  ul {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    li {

      .icon {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        margin: 15px auto 0 ;
      }

      p {
        font-weight: bold;
        color: #061825;
        text-align: center;
      }

      &:nth-child(1) {

        .icon {
          background-color: #de4f4f;
        }
      }

      &:nth-child(2) {

        .icon {
          background-color: #3dcd3d;
        }
      }

      &:nth-child(3) {

        .icon {
          background-color: #3d70cd;
        }
      }
    }
  }
}

.footer {
  padding: 0 0 30px;

  .content {
    position: relative;

    p {
      font-size: 14px;
      color: #525252;
      text-align: center;

      a {
        color: #43a856;
      }
    }

    &:before {
      content: '';
      width: 300px;
      height: 2px;
      background-color: #dbddde;
      border: none;
      position: absolute;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.modal {
  max-width: 444px;
  height: auto;
  min-height: 373px;
  padding: 43px;

  .modal-header {
    text-align: center;

    h3 {
      font-size: 17px;
      font-weight: bold;
    }

    p {
      font-size: 12px;
    }
  }

  .modal-content {
    padding: 0;
    margin-top: 25px;

    form {

      .input-field {

        input {

        }

        label {

        }
      }
    }
  }

  .modal-footer {
    margin-top: 45px;

    .modal-close {
      width: 344px;
      height: 62px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      background-color: #3dbe56;
      color: #ffffff;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 1199px) {

  .container {
    width: 90%;
  }

  .header {

    .illustration {

      .rouble {
        top: -170px;
        right: 10px;
      }

      .film {
        top: -241px;
        right: -200px;
      }

      .circle {
        top: -480px;
        right: -135px;
      }
    }
  }

  .second {

    ul {

      li {
        width: 50%;

        &:nth-child(3) {
          width: 75%;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {

  .container {
    width: 90%;
  }

  .header {
    padding: 90px 0 30px;

    .illustration {
      display: none;
    }

    .bottom {
      margin-top: 60px;
    }
  }

  .second {

    ul {

      li {
        width: 100%;
        margin-top: 30px;

        &:nth-child(3) {
          width: 100%;
          margin-top: 30px;
        }
      }
    }
  }

  .third {
    padding: 60px 0;

    ul {

      li {
        width: 100%;
        margin-top: 40px;

        &:nth-child(1) {
          margin-top: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {

  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 28px;
  }

  .header {

    .how-work {

      &:before {
        top: -25px;
      }
    }

    .cta {

      button {
        width: 100%;
      }
    }
  }

  .second {

    ul {
      padding: 30px 15px;
    }

    .cta {

      button {
        width: 100%;
      }
    }
  }

  .third {
    padding: 75px 0 90px;

    ul {

      li {

      }
    }

    .cta {
      margin-top: 45px;

      button {
        width: 100%;
      }
    }
  }

  .footer {

    .content {

      &:before {
        top: -25px;
      }
    }
  }

  .modal {

    .modal-footer {

      .modal-close {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 320px) {

  .modal {
    padding: 20px;
    min-height: 330px;
  }
}