<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Monetize Online Cinema</title>
		//= includes/head.html
	</head>
	<body>
        <main>
            <header id="header" class="header">
                <div class="container">
                    <div class="illustration">
                        <img src="../img/illustrations.png" alt="">
                    </div>
                    <div class="title">
                        <h1>Получайте <span>деньги</span> за то, что&nbsp;ваша аудитория смотрит</h1>
                    </div>
                    <div class="hello">
                        <p><span>Здравствуйте!</span> Мы — онлайн-кинотеатр, который платит за просмотр</p>
                    </div>
                    <div class="how-work">
                        <h6>Как это работает?</h6>
                        <p>Например, вы хотите запостить у себя в группе трейлер нового фильма, возьмите ссылку на трейлер на сайте нашего кинотеатра (а если такого видео нет, то мы зальём специально для вас), добавьте свою индивидуальную реферальную ссылку, и получайте деньги за каждый просмотр (2 копейки за просмотр рекламы).</p>
                    </div>
                    <div class="bottom">
                        <p>TrafficStore.com и онлайн-кинотеатр zubator.com совместно создали проект, который&nbsp;позволяет вам монетизировать трафик и зарабатывать на каждом зрителе.</p>
                    </div>
                    <div class="more">
                        <img src="../img/arrow-down.png" alt="">
                    </div>
                </div>
            </header>
            <section id="second" class="second">
                <div class="container">
                    <div class="title">
                        <h2>Как начать монетизировать группу:</h2>
                    </div>
                    <ul>
                        <li>
                            <div>1</div>
                            <p><span>Зарегистрируйтесь</span> в системе <a href="https://trafficstore.com">TrafficStore.com</a>, деньги&nbsp;поступают на реферальный кошелёк</p>
                        </li>
                        <li>
                            <div>2</div>
                            <p>В личном кабинете, в разделе "Партнёрская программа" Вам&nbsp;будет доступна <span>уникальная реф ссылка</span></p>
                        </li>
                        <li>
                            <div>3</div>
                            <p>Нужно <span>взять последнюю часть этой ссылки  — ?ref=f45360a153443f4e</span> и&nbsp;готовая&nbsp;ссылка для пользователей Вашей группы должна быть вида: http://zubator.com/2019/04/03/Охота-на-дьявола-14-Серия/?ref=f45360a153443f4e</p>
                        </li>
                    </ul>
                </div>
            </section>
            <section id="third" class="third">
                <div class="container">
                    <div class="title">
                        <h2>Необходимые условия, чтобы получать доход:</h2>
                    </div>
                    <ul>
                        <li>
                            <div class="icon">
                                <img src="../img/icon-1.png" alt="">
                            </div>
                            <p>Отсутствие блокировщика рекламы</p>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="../img/icon-2.png" alt="">
                            </div>
                            <p>Трафик из РФ</p>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="../img/icon-3.png" alt="">
                            </div>
                            <p>IP адреса дата-центров будут баниться</p>
                        </li>
                    </ul>
                </div>
            </section>
            <footer id="footer" class="footer">
                <div class="container">
                    <div class="content">
                        <p>Если у Вас возникнут вопросы, пожалуйста, пишите на почту: <a href="mailto:info@zubator.com">info@zubator.com</a></p>
                    </div>
                </div>
            </footer>
        </main>
		//= includes/scripts.html
	</body>
</html>